<div class="container" style="margin: 100px;px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{usuario}} <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar
                    sesion
                    <i class="fa fa-sing-out" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    {{!--fin fila 1 --}}
    {{!--inicio fila 2--}}
    <div class="row">
        <div class="col-7" style="margin-top:-9px ;">
            <h2>Listado de Novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo</a>
        </div>
        <div class="col-3 text-right">
            <form class="form-inline" action="/admin/novedades" method="get">
             <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}} value="{{q}}" {{/if}}>
             <button class="btn btn-secondary ay-2 ay-sm-0" type="submit">
                 <i class="fa fa-search" aria-hidden="true"></i>
             </button>
            </form>
        </div>
    </div>
    {{!--fin fila 2--}}
    {{!--inicio fila 3--}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" class="text-right">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-right">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}} " class="btn btn-secondary"><i class="fas
                                fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if is_search}}
                {{#unless novedades.length}}
                            No se encontraron resultados para "<b>{{q}}</b>"
                {{/unless}}
            {{/if}}
        </div>
    </div>
</div>