<!-- nav class="navbar navbar-expand-lg navbar-dark bg-dark"> CODIGO DUPLICADO !!
    <div class="container-fluid">
      <a class="navbar-brand" href="#PetShop">PetShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#Visitanos">Visitanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Novedades">Novedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Productos">Productos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
-->
<div class="container-fluid">
    <!-- inicio home-->
    <div id="Petshop" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <h1>PetShop</h1>
            <p>La salud de tu mascota es nuestra pasión</p>
        </div>
    </div>

    <!---Novedades-->
    <div class="row my-3">
        <div id="Novedades" class="col-md-5 offset-md-2 croll_section">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal{{id}}"><img src="{{imagen}}">{{titulo}}</a>
                </li>
                {{/each}}


                
            </ul>
        </div><!---Cierra novedades-->

        <!---Cuidados-->
        <div class="col-md-3 my-3">
            <div class="rounded py-5 Cuidados">
                <h2 class="text-center">Por que se lo merecen?</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicatos">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="Por que se lo merecen?">
                                <h5>Porque ellos nos dan amor</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="Por que se lo merecen?">
                                <h5>porque son parte de tu familia</h5>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">next</span>
                    </button>
                </div>
            </div> <!-- fin de Cuidados-->
        </div><!-- fin de novedades y cuidados-->

        <!--Inicio  Modal -->
    
    {{#each novedades}}
        <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{imagen}}">
                        <h4>{{subtitulo}}</h4>
                        <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!--Fin de  Modal -->
        <!--Fin de Novedades-->

        <!-- inicio Productos-->
        <div id="Productos" class="row align-items-center py-4 croll_section">
            <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="images/imagen4.jpg" alt="productos 1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/imagen3.jpg" alt="productos 2" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Nuestros Productos</h2>
                <p>Nuestros productos son exclusivos para el cuidado y la diversion de tu mascotas, desde su nacimiento,
                    para
                    acompañarlos durante su crecimiento.</p>
            </div>
        </div>
    </div>
</div>
</div><!--fin id Productos-->

<!-- seccion nosotros-->
<div id="Productos" class="row align-items-stretch my-3 staff py-4 croll_section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Productos</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/imagen7.jpg" class="card-img-top" alt="camas">
                    <div class="card-body">
                        <h5 class="card-title">Camas</h5>
                        <p class="card-text"> Camas acolchadas, estampadas,
                            desmontables con cierre, facil lavable.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/imagen8.jpg" class="card-img-top" alt="camas">
                    <div class="card-body">
                        <h5 class="card-title">Juguetes</h5>
                        <p class="card-text"> Material de plastico, libre de toxicos, lavabes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/imagen9.jpg" class="card-img-top" alt="camas">
                    <div class="card-body">
                        <h5 class="card-title">Arnes con Pechera</h5>
                        <p class="card-text"> Varios colores, estampados, y diferentes tamaños</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/imagen10.jpg" class="card-img-top" alt="camas">
                    <div class="card-body">
                        <h5 class="card-title">Camisetas Seleccion "Messi"</h5>
                        <p class="card-text"> Que ellos tambien te acompañen a alentar a la seleccion argentina.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!---fin de nosotros-->
    <div id="Visitanos" class="row align-items-center py-4 croll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.
                   157490000837!2d-58.375122284770384!3d-34.60017888046042!2m3
                   !1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacca6ae
                   b875%3A0xc7d4bc622b6947a9!2sReconquista%20656%2C%20C1003%20
                   San%20Nicolas%2C%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v167261
                   8595549!5m2!1sen!2sar">
                </iframe>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/"method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="Tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="Tel" placeholder="..." name="tel">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
</div>
</div>
</div>
</div>


<!--cierre de div con id conocenos ESTO NO VA!!! DUPLICA CODIGO
<footer>
    <p class="text-center">Diseñado por: Yanina Gonzalez</p>
</footer>-->